html{
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000000, #000000, #272727);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #000000, #272727); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: auto;
    padding: 2px 2px 2px 2px;
    text-align: center;
    color: white;
	min-height: 100vh;
	width: 100%;
	/* overflow: hidden; */
	position: relative;
}
.ima{
	width: 400px;
	height: 200px;
}
.imgs{
    height: 500px;
    width: 500px;
}
.crud{
	background-color: rgb(0, 0, 0);
	width: 1300px;
}
.admin{
	background-color: rgb(0, 0, 0);
	width: 1300px;
}
.img1{
	display: inline-block;
	vertical-align: top;
}
.texto1{
	display: inline-block;
	vertical-align: top;
}

/*Acá empieza el header, el menú de navegación*/

.barra{
	height: 100%;
	width: 43px;
	position: fixed;
	top: 0;
	left: 0;
	padding: 6px 14px;
	background-color: rgb(43, 43, 43);
	transition: all 0.5s ease;
}
.barra.active{
	width: 168px;
}
.barra .menu{
	height: 60px;
	display: flex;
	align-items: center;
	position: relative;
}
.barra .menu i{
	font-size: 28px;
	margin-right: 5px;
}
.barra .menu .name{
	color: white;
	font-size: 20px;
	font-weight: 600;
	opacity: 0;
	transition: all 0.5s ease;
}
.barra.active .menu .name{
	opacity: 1;
}
.barra #btn{
	position: absolute;
	color: white;
	left: 50%;
	top: 6px;
	font-size: 20px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	transform: translateX(-50%);
}
.barra.active #btn{
	left: 90%;
}
.barra ul{
	margin-top: 20px;
}
.barra ul li{
	position: relative;
	height: 50px;
	width: 100%;
	margin: 0 5px;
	list-style: none;
	line-height: 50px;
}
.barra ul li .tooltip{
	position: absolute;
	left: 122px;
	top: 0;
	transform: translate(-100%, -50%);
	border-radius: 10px;
	height: 35px;
	width: 122px;
	background-color: whitesmoke;
	line-height: 35px;
	text-align: center;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	transition: 0.1s;
	opacity: 0;
	pointer-events: none;
	color: black;
	display: block;
}
.barra.active ul li .tooltip{
	display: none;
}
.barra ul li:hover .tooltip{
	top: 50%;
	transition: all 0.5s ease;
	opacity: 1;
}
.barra ul li a{
	color: white;
	left: 0;
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease;
	border-radius: 15px;
	white-space: nowrap;
}
.barra ul li a:hover{
	color: grey;
	background-color: honeydew;
}
.barra ul li a i{
	height: 50%;
	left: 0%;
	min-width: 50px;
	border-radius: 12px;
	line-height: 50px;
	text-align: center;
	transform: translateX(-100%);
}
.barra ul li .linkName{
	opacity: 0;
	pointer-events: auto;
}
.barra.active ul li .linkName{
	opacity: 1;
	pointer-events: auto;
	text-align: center;
	transform: translateX(-45%);
}
/* .prueba{
	color: black;
	text-align: none;
} */

/*Footer */
footer{
	background-color: #020101;
}
footer i{
	font-size: 100px;
}
